<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">

  <Product Id="*" Name="SockEm" Language="1033" Version="1.0.0.0" Manufacturer="Falanteris" UpgradeCode="{4dc34b1f-9685-4c1d-a0d4-9d1ee6d3c8c8}">
    <Package InstallerVersion="500" Compressed="yes" InstallScope="perMachine" />
    <MediaTemplate EmbedCab="yes"/>

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLFOLDER" Name="SockEm">
          <Component Id="MainExecutable" Guid="{4dc34b1f-9685-4c1d-a0d4-9d1ee6d3c8c8}">
            <File Id="SockEmExe" Source="dist/SockEm-windows.exe" />
            <File Id="NSSMExe" Source="nssm.exe" />
          </Component>
        </Directory>
      </Directory>
    </Directory>

    <Feature Id="ProductFeature" Title="SockEm" Level="1">
      <ComponentRef Id="MainExecutable"/>
    </Feature>

    <!-- Property to pass path to deferred action -->
    <Property Id="CustomServicePath" Value="[INSTALLFOLDER]" />

    <CustomAction Id="InstallService"
                  Directory="INSTALLFOLDER"
                  ExeCommand="nssm_64 install SockEmService &quot;[INSTALLFOLDER]SockEm-windows.exe&quot;"
                  Execute="deferred"
                  Impersonate="no"
                  Return="check" />

    <CustomAction Id="StartService"
                  Directory="INSTALLFOLDER"
                  ExeCommand="net start SockEmService"
                  Execute="deferred"
                  Impersonate="no"
                  Return="check" />

    <!-- Sequence of actions -->
    <InstallExecuteSequence>
      <Custom Action="InstallService" After="InstallFiles">NOT Installed</Custom>
      <Custom Action="StartService" After="InstallService">NOT Installed</Custom>
    </InstallExecuteSequence>

  </Product>
</Wix>